doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar()
      .container
        .row
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1.mb-3 Minimum Viable Landing Page
            p.lead Just use for learning
            p.lead.mb-4 Learn how to create CRUD page
            form(action="/landing", method = "POST")
              .input-group.mb-3
                input(name="lead_email", type="email", placeholder="Enter your email here").form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Get Stared
    if leads
      h1 Leads
      for lead in leads
        p(id=lead.id)
          span #{lead.email}
          |
          a(href="/landing/lead/" + lead.id) Details
          |
          button(onclick=`deleteLead('${lead.id}')`) Delete
    include common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')

