extends layout

block content
  h1 Lead
  p  
    span #{lead.email}
    a(href="/landing/lead/" + lead.id + "/edit") Edit
    |
    form(action="/landing/lead/" + lead.id + "/delete", method = "POST")
        button(type='submit') Delete
  