doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    h1 Lead
    p  
        span #{lead.email}
        a(href="/landing/lead/" + lead.id + "/edit") Edit
        |
        form(action="/landing/lead/" + lead.id + "/delete", method = "POST")
            button(type='submit') Delete
    include common/footer.pug
    +footer()
  