extends ../layout

block content
  form(action="/landing/lead/" + lead.id + "/edit", method = "POST")
    input(name="lead_email", type="email", placeholder="Enter your new email here", value = lead.email)
    button(type="submit") Save